#contenido{
	width: 100%;
	height: 600px;
	background: black;
}

img{
	width: 100%;
	height: 650px;
}

@media all and(orientation:portrait)
{

	img{
		margin-bottom: 500px;
		width: 100%;
	}	
}

@media all and(orientation:landscape)
{
	html,body
	{
		margin: 0px;
		height: 100% !important;
	}
	img{
		height: 100%;
	}

}